<h4>Add Todos</h4>
<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="emailHelp"
      [(ngModel)]="title"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
      [(ngModel)]="description"
    />
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="isActive"
      name="isActive"
      [(ngModel)]="isActive"
    />
    <label class="form-check-label" for="isActive">Active</label>
  </div>
  <button type="submit" class="btn btn-sm btn-primary">Submit</button>
</form>
<br />
<hr />
